* {
  box-sizing: border-box;
}

body {
  background-color: hsl(0, 0%, 95%);
  font-family: "Open Sans", sans-serif;
  padding: 0;
  margin: 0;
  position: relative;
}

h1,
h2,
h3,
h4,
#header button {
  font-family: "Oswald", sans-serif;
}

img {
  width: 100%;
  height: 100%;
  max-width: 100%;
  height: auto;
}

p {
  font-size: 0.9em;
  letter-spacing: 0.2px;
  font-family: "Open Sans";
  line-height: 130%;
  word-spacing: 2px;
}

h1 {
  font-weight: 600;
}

h2,
h3,
h4 {
  font-weight: 400;
}

a {
  text-decoration: none;
  color: inherit;
}

.cover {
  display: block;
  position: absolute;
  top: 0;
  /* bottom: 0; */
  right: 0;
  left: 0;
  background-color: black;
  z-index: 1;
  opacity: 0.3;
  transition: background-color 3s ease-in;
}

.show-cover {
  bottom: 0;
}

/*       icons       */
.fa-thumbs-up::before {
  content: "\f164";
}

.fa-square-facebook::before {
  content: "\f082";
}

.fa-instagram::before {
  content: "\f16d";
}

.fa-square-snapchat::before {
  content: "\f2ad";
}

.fa-pinterest-p::before {
  content: "\f231";
}

.fa-twitter::before {
  content: "\f099";
}

.fa-linkedin-in::before {
  content: "\f0e1";
}

.fa-magnifying-glass::before {
  content: "\f002";
}

.fa-xmark::before {
  content: "\f00d";
}

/* ==== START OF HEADER ==== */
.social-nav {
  position: absolute;
  width: 100%;
  font-size: 0.8em;
  background-color: black;
  color: white;
  display: none;
}

.social-nav i {
  padding: 12px 15px;
}

.social-nav i:hover,
.close-btn:hover {
  background-color: hsl(0, 0%, 80%);
  color: black;
}

#header {
  width: 100%;
}

#heading {
  padding: 3em 0;
  text-align: center;
  background-color: hsl(0, 0%, 100%);
}

#heading h1 {
  font-size: 3rem;
}

#heading h3 {
  font-family: "Oswald", sans-serif;
  font-weight: 300;
}

#heading h4 {
  margin-top: -1.5em;
}

#janesworld {
  background-color: black;
  color: white;
  padding: 2px 6px 2px 6px;
}

.display-in-big-screen {
  display: none;
  letter-spacing: 3px;
}

#img-with-sub-btn {
  position: relative;
}

.position-in-big-image {
  position: absolute;
  top: 50%;
  left: 2%;
  background: transparent;
  color: hsl(222, 34%, 98%);
  transform: translateY(-50%);
}

.position-in-big-image h1 {
  margin: 0;
  margin-top: -10px;
}

.position-in-big-image h2 {
  font-size: 2em;
  letter-spacing: 4px;
}

#header button {
  background-color: hsl(0, 0%, 90%);
  opacity: 0.6;
  font-size: 1.1em;
  padding: 0.6em 1.2em;
  margin-top: 0.7em;
  border: none;
  cursor: pointer;
}

#header button:active {
  background-color: hsl(207, 100%, 80%);
}

#header button:hover {
  opacity: 1;
  background-color: hsl(0, 0%, 70%);
}

/* ==== END OF HEADER ==== */

/* ==== CONTENT ==== */

#content1,
#content2,
#content3 {
  padding: 0.8rem 1.4rem;
  margin: 1.5rem 1.5rem;
  background-color: white;
}

.subheading {
  text-align: center;
  font-size: 1rem;
}

.date {
  color: grey;
}

.bold {
  font-weight: 700;
}

.flex-btn {
  display: flex;
  justify-content: space-between;
}

.like {
  background-color: white;
  font-size: 1rem;
  padding: 0.7em;
  border: solid 1px hsl(0, 0%, 75%);
  cursor: pointer;
}

.like:hover {
  background-color: hsl(0, 0%, 80%);
}

.replies-btn {
  background-color: black;
  color: rgb(255, 255, 255);
  font-size: 1rem;
  padding: 0.7em;
  border: none;
  cursor: pointer;
}

.replies-btn:hover {
  background-color: hsl(0, 0%, 80%);
  color: black;
}

.replies-btn-count {
  background-color: white;
  color: black;
  padding: 0.1em 0.4em;
  margin-left: 0.3em;
}

.replies {
  display: none;
}

.show {
  display: block;
}

#man-with-smoke {
  height: 110px;
  width: 100px;
}

/* ==== END OF CONTENT ==== */

/* ==== START OF ASIDE ==== */

#aside {
  margin: 1.5rem 2rem;
}

.aside-section {
  margin-top: 1em;
  margin-bottom: 1em;
  background-color: white;
}

.aside-heading {
  background-color: black;
  color: white;
  padding: 1em;
  margin-bottom: 0;
  margin-top: 0;
}

/* start of popular posts */

#avatargirl2 {
  background-color: black;
  color: white;
}

#myname {
  padding: 0.2em 0.8em;
}

.popularposts-section {
  width: 100%;
  border-top: 1px solid hsl(0, 0%, 75%);
  padding: 0.6em 0.8em;
  height: 5rem;
}

.popularposts-section:hover {
  background-color: hsl(0, 0%, 80%);
  border: none;
}

.smallimage {
  height: 100%;
}

.position-right {
  width: 80%;
  float: right;
  height: 4.5rem;
  line-height: 0;
}

.position-left {
  float: left;
  width: 15%;
  height: 100%;
}

/* end of popular popular posts */

/* advertise */

#advertise {
  padding-bottom: 0.1em;
}

#ad-container {
  height: 11rem;
  text-align: center;
  padding: 3.8em 0;
  background-color: hsl(0, 0%, 94%);
  margin: 1em;
}

/* end of advertise */

/* tags */

#taglist {
  line-height: 2em;
  padding: 0.6em 1em 2em;
}

#fashiontext {
  background-color: black;
  color: white;
  padding: 5px 8px;
  font-size: 0.9em;
}

.tagstext {
  background-color: hsl(0, 0%, 94%);
  padding: 4px 16px;
  font-size: 0.7em;
}

/* end of tags */

/* inspirations */

.pics-container {
  padding: 0.6em;
}

.inspiration-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5em;
}

.zero-marginleft {
  margin-left: 0;
}

.zero-marginbottom {
  margin-bottom: 0;
}

/* end of inspiration */

/* followme */

#socials {
  padding: 1em;
}

#followme .fa-brands {
  font-size: 1.3em;
  margin-right: 4px;
}

#followme .fa-brands:hover {
  opacity: 0.4;
}

/* end of followme */

/* forms */

.subscribeform,
.reply {
  padding: 1em;
  padding-top: 0.1em;
  margin-top: -0.2em;
}

.email,
.reply input {
  font-size: 1em;
  width: 100%;
  margin-bottom: 0.7em;
  padding: 0.6em 0.4em;
  border: solid 1px hsl(0, 0%, 75%);
}

.sub-button,
.reply button {
  width: 100%;
  font-size: 1em;
  background-color: hsl(0, 85%, 50%);
  border: none;
  padding: 0.6em;
  color: white;
  cursor: pointer;
}

.sub-button:hover,
.reply button:hover {
  background-color: hsl(0, 0%, 80%);
  color: black;
}

.popup-subscribe {
  background-color: white;
  padding: 2.5rem;
  position: fixed;
  top: 80px;
  left: 20%;
  right: 20%;
  display: none;
  z-index: 2;
}

.close-btn-positioning {
  position: relative;
}

.close-btn {
  font-size: 1.5em;
  position: absolute;
  right: 10%;
  top: 12%;
  cursor: pointer;
  padding: 3px 12px;
}

.popup-subscribe h3 {
  letter-spacing: 0.2em;
  background-color: inherit;
  color: black;
  font-size: 1.5em;
  padding: 0;
}

.reply {
  margin-top: 1.2em;
}

/* end of subscribe */

/* ==== END OF ASIDE ==== */

/* ==== FOOTER ==== */

#footer {
  background-color: hsl(0, 0%, 38%);
  padding: 02em 1.4em;
  color: white;
}

#top {
  background-color: black;
  color: white;
  padding: 0.8em 1.4em;
  border: none;
  font-size: 1em;
  cursor: pointer;
}

#top:hover {
  background-color: hsl(0, 0%, 80%);
  color: black;
}

#whoknows {
  text-decoration: underline;
}

@media (min-width: 600px) and (max-width: 860px) {
  .social-nav {
    display: block;
  }

  .position-right {
    width: 85%;
  }
  .position-left {
    width: 12%;
  }
  .display-in-big-screen {
    display: block;
    font-size: 4em;
  }

  .popup-subscribe {
    display: none;
  }

  .show {
    display: block;
  }
}

@media (min-width: 861px) {
  .social-nav {
    display: block;
  }

  .split {
    display: flex;
  }

  #content {
    width: 65%;
    margin-top: 12px;
  }

  #aside {
    width: 35%;
    margin-left: 0;
  }

  .display-in-big-screen {
    display: block;
    font-size: 4.5em;
  }

  .popup-subscribe {
    display: none;
  }

  .show {
    display: block;
  }
}
